
<% if(Data.DisplayPopUp == true) { %> 
    <div id="PopContainer">
<% }else{ %>
    <div id="PopContainer" style="display: none;">
<% } %>
<% if (Data._DisplayProducts) { %>
    
    <% if (Data.DisplayProductEdit) { %>
    <div id="InnerPopUp" class="InnerPopUp">
        <%- include('./CancelButton', {Data:'PopUp'}) %>
        <%- include('../partials/SimpleEditForm') %>
    </div>
    <% } else{ %>
    <div id="InnerPopUp" class="InnerPopUp" style="height: 100%;">
        <%- include('./CancelButton', {Data:'PopUp'}) %>
        <%- include('../partials/SimpleDisplayForm') %>
    </div>
    <% }  %> 
    
    <% }else{ %>
    <div id="InnerPopUp" class="InnerPopUp">
        <%- include('./CancelButton', {Data:'PopUp'}) %>
        <%- include('../partials/SimpleAddForm') %>
    </div>
    <% } %> 
</div>