
<% if(Data.DisplayPopUp) { %> 
    <div id="PopContainer">
        <% if (Data.MenuState.ListState == "PopUp") { %>
        
            <% if (Data.MenuState.PopUpState == "Start") { %>
            
                <div id="InnerPopUp" class="InnerPopUp">
                    <%- include('./CancelButton', {Data:'PopUp'}) %>
                    <%- include('../partials/SimpleEditForm') %>
                </div>
            
            <% } else{ %>
            
                <div id="InnerPopUp" class="InnerPopUpDisplay">
                    <%- include('./CancelButton', {Data:'PopUp'}) %>
                    <%- include('../partials/SimpleDisplayForm') %>
                </div>
            
            <% }  %> 
        
        <% } %>

        <% if(Data.MenuState.PopUpState == "Add"){ %> 
            <div id="InnerPopUp" class="InnerPopUp">
                <%- include('./CancelButton', {Data:'PopUp'}) %>
                <%- include('../partials/SimpleAddForm') %>
            </div>
        <% } %> 
    </div>

    
<% } %>
