<div>
    <% Data.ProductList.forEach((_product) => { %> 

            <!-- Base Product Display -->
        <% if (Data.MenuState.ListState == "BaseDisplay") { %> 
            <div class="ListItem">
                <form action=<%=Data._Action %> method="get">
                    <button class="BarButtonMenu" name="I_Product" value=<%= _product.id %> >
                        <p class="Items" style="border-left: 4px double black;"><%= _product.id %></p> <p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.color %></p>
                    </button>
                </form>
                <form action=<%= Data._Action %>  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
                    <button type="submit" name="_Delete" value='<%= _product.id %> <%= _product.brand %> <%= _product.color %>' >Delete</button>
                </form>
            </div>
        <% } %>
            

            <!-- Brand Product Display -->
        <% if (Data.MenuState.ListState == "BrandDisplay") { %>        
            <div class="ListItem">
                <form action=<%=Data._Action %> method="get">
                    <button class="BarButtonMenu" name="E_Product" value=<%= _product.id %> >
                        <p class="Items" style="border-left: 4px double black;"><%= _product.id %></p> <p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.color %></p>
                    </button>
                </form>
                <form action=<%= Data._Action %>  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
                    <button type="submit" name="_Delete" value='<%= _product.id %> <%= _product.brand %> <%= _product.color %>' >Delete</button>
                </form>
            </div>
        <% } %>



                 <!-- Color Product Display -->
        <% if (Data.MenuState.ListState == "ColorDisplay") { %>        
            <div class="ListItem">
                <form action=<%=Data._Action %> method="get">
                    <button class="BarButtonMenu" name="C_Product" value='<%= _product.id %>,<%= _product.color %>' >
                        <p class="Items" style="border-left: 4px double black;"><%= _product.id %></p> <p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.color %></p>
                    </button>
                </form>
                <form action=<%= Data._Action %>  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
                    <button type="submit" name="_Delete" value='<%= _product.id %> <%= _product.brand %> <%= _product.color %>' >Delete</button>
                </form>
            </div>
        <% } %>



         <!-- Search Product Display -->
         <% if (Data.MenuState.ListState == "Search") { %>        
            <div class="ListItem">
                <form action=<%=Data._Action %> method="get">
                    <button class="BarButtonMenu" name="I_Product" value=<%= _product.id %> >
                        <p class="Items" style="border-left: 4px double black;"><%= _product.id %></p> <p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.color %></p>
                    </button>
                </form>
                <form action=<%= Data._Action %>  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
                    <button type="submit" name="_Delete" value='<%= _product.id %> <%= _product.brand %> <%= _product.color %>' >Delete</button>
                </form>
            </div>
        <% } %>


    <% }); %> 
</div>