<div>
    <% Data.displayProducts.forEach((_product) => { %> 
    <div class="ListItem" style="width: 100%; background-color:grey;">
        <form action=<%= Data._Action %> method="get">
            <button class="BarButtonMenu" name="E_Product" value=<%= _product.id %>  onclick="OpenPopUp('<%-_product.id %>')"></form>
            <p class="Items" style="border-left: 4px double black;"><%= _product.id %></p> <p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.color %></p>
        </button>
        <form action=<%= Data._Action %>  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
            <button id="open_product:<%= _product.id %>" type="submit" name="_Delete" value='<%= _product.id %> <%= _product.brand %> <%= _product.color %>' >Delete</button>
        </form>
    </div>
    <% }) %> 
</div>