<ul id="ProductListContainer" class="BaseContainer">
    <% if (Data.ProductList != undefined){ %> 
        <% Data.ProductList.forEach((_product) => { %> 
            <li class="ProductContainer" style="background-image: url('<%= _product.image %>');">
                <% if (Data.AllowedActions.Delete != undefined) { %>
                    <% if (Data.AllowedActions.Delete == true) { %>
                        <form id='Delete' action="/Delete"  method="post">
                            <button class="DeleteButton" type="submit" name="Sable" value=<%= _product.key %>></button>
                        </form>
                    <% } %>
                <% } %>
                <% if (Data.AllowedActions.Update != undefined) { %>
                    <% if (Data.AllowedActions.Update == true) { %>
                        <form id='Update' action="/Update"  method="get">
                            <button class="UpdateButton" type="submit" name="Sable" value=<%= _product.key %>></button>
                        </form>
                    <% } %>
                <% } %>
                <form action=<%=PageState._Action %> method="get" style="height:100%"> <!--  Every variable here needs to be dynamically set instead of hard coded   -->
                    <button class="ProductButton" name="C_Product" value='<%= _product.sku %>,<%= _product.Color %>' >
                        <div class="NameContainer">
                        <p class="ItemName">SKU:<%= _product.sku %> </p>
                        <p class="ItemName">Brand:<%= _product.brand %> </p>
                        <p class="ItemName">Color:<%= _product.Color%> </p>
                        </div>
                    </button>
                </form>
            </li>
        <% }); %> 
    <% } %> 
</ul>