
<% if(Data.DisplayPopUp) { %> 
    <div id="PopContainer">
        <% if (Data.MenuState.ListState == "PopUp") { %>
        
            <% if (Data.MenuState.PopUpState == "Edit") { %>
            
                <div id="InnerPopUp" class="InnerPopUp">
                    <%- include('../CancelButton', {Data:'PopUp'}) %>
                    <%- include('./SimpleEditForm') %>
                </div>
            
            <% } else{ %>
            
                <div id="InnerPopUp" class="InnerPopUpDisplay">
                    <%- include('./CancelButton', {Data:'PopUp'}) %>
                    <%- include('./SimpleDisplayForm') %>
                </div>
            
            <% }  %> 
        
        <% } %>

        <% if(Data.MenuState.PopUpState == "Add"){ %> 
            <div id="InnerPopUp" class="InnerPopUp">
                <%- include('../CancelButton', {Data:'PopUp'}) %>
                <%- include('./SimpleAddForm') %>
            </div>
        <% } %> 
    </div>


<% } %>
