<div class="ProductListContainer">
                    <!-- Product Display -->
    <% if (Data.ProductList != undefined){ %> 
        <% Data.ProductList.forEach((_product) => { %> 
                <div class="ListItem">
                    <form action=<%=PageState._Action %> method="get" > <!--  Every variable here needs to be dynamically set instead of hard coded   -->
                        <button class="BarButtonMenu" name="C_Product" value='<%= _product.sku %>,<%= _product.Color %>' >
                            <p class="Items" style="border-left: 4px double black;"><%= _product.sku %></p><p class="Items"><%= _product.brand %></p><p class="Items"><%= _product.Color %></p>
                        </button>
                    </form>
                    <% if (Data.AllowedActions.Delete != undefined) { %>
                        <% if (Data.AllowedActions.Delete == true) { %>
                            <form action="Delete"  method="post" style="margin-left: 1%; margin-right: 10px; margin-top: 1%;">
                                <button type="submit" name="Sable" value=<%= _product.key %> >Delete</button>
                            </form>
                        <% } %>
                    <% } %>
                </div>
        <% }); %> 
    <% } %> 
</div>